* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0 1rem;
  background: linear-gradient(180deg, #0a0c9f 33%, #0d0c7f 66%, #0c0e5c 100%);
  color: #c4c6d2;
}

body, button {
  font-family: "ff7_font", "Arial", "sans-serif";
}

img {
  width: 100%;
}

h1 {
  margin: 1rem 0 0;
}

h1, h2, h3 {
  text-align: center;
  font-weight: 400;
}

.containerGame {
  display: flex;
  flex-direction: column;
}

@font-face {
  font-family: "ff7_font_h1";
  src: url("../font/ff7_h1_eot.eot") format("eot"), url("../font/ff7_h1_woff.woff") format("woff"), url("../font/ff7_h1_ttf.ttf") format("truetype"), url("../font/ff7_h1_woff2.woff2") format("woff2");
}
@font-face {
  font-family: "retroGaming";
  src: url("../font/retroGaming.eot") format("eot"), url("../font/retroGaming.woff") format("woff"), url("../font/retroGaming.ttf") format("truetype"), url("../font/retroGaming.woff2") format("woff2");
}
@font-face {
  font-family: "ff7_font";
  src: url("../font/ff7_font_eot.eot") format("eot"), url("../font/ff7_font_woff.woff") format("woff"), url("../font/ff7_font_ttf.ttf") format("truetype");
}
body {
  font-family: "retroGaming", Arial, sans-serif;
}

h1 {
  font-family: "ff7_font_h1", Arial, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 5rem;
}

h3 {
  margin: 1rem 0 0;
}

h2, p {
  margin: 0;
}

.ff7Btn {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  color: #c4c6d2;
  margin: 1rem auto;
  cursor: pointer;
  white-space: nowrap;
  font-family: "retroGaming", Arial, sans-serif;
}
.ff7Btn img {
  padding: 0.5rem 0.5rem 0 0;
}

table {
  border-collapse: collapse;
  height: 560px;
  background: linear-gradient(rgba(14, 13, 13, 0.5), rgba(24, 23, 23, 0.5)), url("../img/midgar_1556_875.png") -200px;
  background-size: cover;
  max-width: 100%;
  order: 3;
}

@keyframes blurEffect {
  0% {
    filter: blur(0);
  }
  50% {
    filter: blur(10px);
  }
  100% {
    filter: blur(50px);
  }
}
.blurEffectMap {
  animation: blurEffect 5s ease;
}

td {
  border: 1px solid black;
}

.wayPossible {
  background-image: url("../img/sparkle-glitter.gif");
  box-shadow: 1px 5px 15px 5px #000000;
}

.charactersAndMap {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .charactersAndMap {
    flex-direction: row;
  }

  table {
    order: unset;
    flex-basis: 35%;
  }

  .charactersAndMap {
    justify-content: space-evenly;
  }
}
.obstacle {
  background-image: url("../img/glitch.gif");
  background-size: cover;
}

.chocoMog {
  background-image: url("../img/choco_mog.png");
  background-size: contain;
}

.titan {
  background-image: url("../img/titan.png");
}

.shiva {
  background-image: url("../img/shiva.png");
}

.odin {
  background-image: url("../img/odin.png");
}

.knightsOfRound {
  background-image: url("../img/chevalier2.png");
  background-position: center;
}

.chocoMog, .shiva, .odin, .titan, .knightsOfRound {
  background-size: cover;
}

.shiva, .odin, .knightsOfTheRoundTable {
  background-position: -16px;
}

.characteristicsInvocation {
  order: 3;
  display: grid;
  grid-template: repeat(2, 2fr)/repeat(2, 2fr);
  grid-gap: 2rem;
  width: 63%;
  align-self: center;
  margin: 1rem 0;
  border: 5px solid #9a9998;
  border-radius: 13px;
  background: linear-gradient(180deg, #0a0c9f 33%, #0d0c7f 66%, #0c0e5c 100%);
  padding: 1rem;
  box-shadow: 8px 6px 12px #efe8e847;
}
.characteristicsInvocation p {
  text-align: center;
}
.characteristicsInvocation h3 {
  margin: 0.5rem 0 0;
}

@media (max-width: 768px) {
  .characteristicsInvocation {
    grid-template: repeat(2, 2fr)/repeat(3, 2fr);
  }
}
@media (min-width: 768px) {
  .characteristicsInvocation {
    grid-template: repeat(1, 2fr)/repeat(5, 2fr);
  }
}
#sephiroth {
  background-image: url("../img/sephiroth_gif.gif");
}

#cloud {
  background-image: url("../img/cloud_gif.gif");
}

#sephiroth, #cloud {
  background-size: cover;
  background-position: unset;
}

.characters, .characteristicsCharacters {
  display: flex;
  justify-content: center;
}

#cloudCharacteristics, #sephirothCharacteristics {
  border: 5px solid #9a9998;
  border-radius: 13px;
  background: linear-gradient(180deg, #0a0c9f 33%, #0d0c7f 66%, #0c0e5c 100%);
  padding: 1rem;
  box-shadow: 8px 6px 12px #efe8e847;
}
#cloudCharacteristics p, #sephirothCharacteristics p {
  text-align: center;
}
#cloudCharacteristics img, #sephirothCharacteristics img {
  height: 306px;
  object-fit: cover;
}
#cloudCharacteristics div:nth-child(2), #sephirothCharacteristics div:nth-child(2) {
  display: flex;
  justify-content: center;
}
#cloudCharacteristics .healthPoints, #cloudCharacteristics .invocationPossessed, #sephirothCharacteristics .healthPoints, #sephirothCharacteristics .invocationPossessed {
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
}
#cloudCharacteristics .healthPoints h3, #cloudCharacteristics .invocationPossessed h3, #sephirothCharacteristics .healthPoints h3, #sephirothCharacteristics .invocationPossessed h3 {
  color: #56bdc1;
}

@media (min-width: 768px) {
  #cloudCharacteristics {
    padding-right: 1rem;
  }

  #sephirothCharacteristics {
    padding-left: 1rem;
  }

  #cloudCharacteristics, #sephirothCharacteristics {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-basis: 20%;
  }
}
#defendOrAttack {
  width: 280px;
  display: none;
  flex-direction: column;
  align-items: center;
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0 1rem 1rem;
  border: 5px solid #9a9998;
  border-radius: 13px;
  background: linear-gradient(180deg, #0a0c9f 33%, #0d0c7f 66%, #0c0e5c 100%);
  padding: 1rem;
  box-shadow: 8px 6px 12px #efe8e847;
}
#defendOrAttack #defendOrAttackQuestion {
  text-align: center;
}

.nameCharacterInsideQuestion {
  text-transform: capitalize;
}

#startGameScreen, #endGameContainer {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #000000e6;
  width: 100vw;
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
#startGameScreen h1, #startGameScreen h2, #startGameScreen p, #endGameContainer h1, #endGameContainer h2, #endGameContainer p {
  text-align: center;
}
#startGameScreen p, #endGameContainer p {
  font-size: 2rem;
  margin: 0.5rem;
}
#startGameScreen div, #endGameContainer div {
  border: 5px solid #9a9998;
  border-radius: 13px;
  background: linear-gradient(180deg, #0a0c9f 33%, #0d0c7f 66%, #0c0e5c 100%);
  padding: 1rem;
  box-shadow: 8px 6px 12px #efe8e847;
  margin: 0 10%;
}
#startGameScreen #loadingText, #endGameContainer #loadingText {
  display: none;
  font-size: 1rem;
}

#endGameContainer {
  display: none;
}
#endGameContainer #endGame {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid #9a9998;
  border-radius: 13px;
  background: linear-gradient(180deg, #0a0c9f 33%, #0d0c7f 66%, #0c0e5c 100%);
  padding: 1rem;
  box-shadow: 8px 6px 12px #efe8e847;
}
#endGameContainer .imgVictoriousPlayer {
  width: 300px;
}

#musicPreludeOff, #musicFightingOff, #musicFightingOn {
  display: none;
}

#musicPreludeOn {
  display: flex;
}

#musicPreludeOn, #musicPreludeOff, #musicFightingOff, #musicFightingOn {
  color: #c4c6d2;
}

/*# sourceMappingURL=style.css.map */
