#musicPreludeOff, #musicFightingOff, #musicFightingOn {
    display: none;
}

#musicPreludeOn {
    display: flex;
}

#musicPreludeOn, #musicPreludeOff, #musicFightingOff, #musicFightingOn {
    //margin: 0 auto 1rem;
    color: $color-primary;
}

