.ff7Btn {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    color: $color-primary;
    margin: 1rem auto;
    cursor: pointer;
    white-space: nowrap;
    font-family: $paragraphe_font;
    
    img {
        padding: 0.5rem 0.5rem 0 0;
    }
}