#sephiroth {
    background-image: url("../img/sephiroth_gif.gif");
}

#cloud {
    background-image: url("../img/cloud_gif.gif");
}

#sephiroth, #cloud {
    background-size: cover;
    background-position: unset;
}

.characters, .characteristicsCharacters {
    display: flex;
    justify-content: center;
}

#cloudCharacteristics, #sephirothCharacteristics {
    @include ff7WindowStyle;
    p {
        text-align: center;
    }
    
    img {
        height: 306px;
        object-fit: cover;
    }
    
    div:nth-child(2) {
        display: flex;
        justify-content: center;
    }
    
    .healthPoints, .invocationPossessed {
        display: flex;
        align-items: baseline;
        justify-content: space-evenly;
        
        h3 {
            color: $color-secondary;
        }
    }
}

@media (min-width: 768px) {
    #cloudCharacteristics {
        padding-right: 1rem;
    }
    
    #sephirothCharacteristics {
        padding-left: 1rem;
    }
    
    #cloudCharacteristics, #sephirothCharacteristics {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        flex-basis: 20%;
    }
    
}
