#sephiroth {
    background-image: url("../img/sephiroth.gif");
}

#cloud {
    background-image: url("../img/cloud.gif");
}

#sephiroth, #cloud {
    background-size: cover;
    background-position: unset;
}

.characters, .characteristicsCharacters {
    display: flex;
    justify-content: center;
}

#cloudCharacteristics, #sephirothCharacteristics {
    p {
        text-align: center;
    }
}

@media (min-width: 768px) {
    #cloudCharacteristics {
        padding-right: 1rem;
    }
    
    #sephirothCharacteristics {
        padding-left: 1rem;
    }
    
    #cloudCharacteristics, #sephirothCharacteristics {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
}
