#defendOrAttack {
    width: 280px;
    display: none;
    flex-direction: column;
    align-items: center;
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 1rem 1rem;
    @include ff7WindowStyle;
    
    #defendOrAttackQuestion {
        text-align: center;
    }
}

.nameCharacterInsideQuestion {
    text-transform: capitalize;
}

#startGameScreen, #endGameContainer {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #000000e6;
    width: 100vw;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    
    h1, h2, p {
        text-align: center;
    }
    
    p {
        font-size: 2rem;
        margin: 0.5rem;
    }
    
    div {
        @include ff7WindowStyle;
        margin: 0 10%;
    }
    
    #loadingText {
        display: none;
        font-size: 1rem;
    }
    
}

#endGameContainer {
    display: none;
    
    #endGame {
        display: flex;
        flex-direction: column;
        align-items: center;
        @include ff7WindowStyle;
    }
    
    .imgVictoriousPlayer {
        width: 300px;
    }
    
}
