.chocoMog {
    background-color: yellow;
}

.titan {
    background-color: brown;
}

.shiva {
    background-color: lightseagreen;
}

.odin {
    background-color: wheat;
}

.knightsOfTheRoundTable {
    background-color: darkgoldenrod;
}
