.chocoMog {
    background-image: url("../img/choco_mog.png");
    background-size: contain;
}

.titan {
    background-image: url("../img/titan.png");
}

.shiva {
    background-image: url("../img/shiva.png");
}

.odin {
    background-image: url("../img/odin.png");
}

.knightsOfRound {
    background-image: url("../img/chevalier2.png");
    background-position: center;
}

.chocoMog, .shiva, .odin, .titan, .knightsOfRound {
    background-size: cover;
}

.shiva, .odin, .knightsOfTheRoundTable {
    background-position: -16px;
}

.characteristicsInvocation {
    order: 3;
    display: grid;
    grid-template: repeat(2, 2fr) / repeat(2, 2fr);
    grid-gap: 2rem;
    width: 63%;
    align-self: center;
    margin: 1rem 0;
    @include ff7WindowStyle;
    
    p {
        text-align: center;
    }
    
    h3 {
        margin: 0.5rem 0 0;
    }
}

@media (max-width: 768px) {
    .characteristicsInvocation {
        grid-template: repeat(2, 2fr) / repeat(3, 2fr);
    }
}

@media (min-width: 768px) {
    .characteristicsInvocation {
        grid-template: repeat(1, 2fr) / repeat(5, 2fr);
    }
}