table {
    border-collapse: collapse;
    //margin: auto;
    width: 700px;
    height: 700px;
    background-image: url("../img/midgar_1556_875.png");
    background-position: -450px;
    max-width: 100%;
    order: 3;
}

td {
    border: 1px solid black;
}

.wayPossible {
    background-image: url("../img/sparkle-glitter.gif");
    box-shadow: 1px 5px 15px 5px #000000;
}

.charactersAndMap {
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .charactersAndMap {
        flex-direction: row;
    }
    
    table {
        order: unset;
    }
    
    .charactersAndMap {
        justify-content: space-evenly;
    }
}
