table {
    border-collapse: collapse;
    height: 560px;
    background: linear-gradient(rgba(14, 13, 13, 0.5), rgba(24, 23, 23, 0.5)), url("../img/midgar_1556_875.png") -200px;
    background-size: cover;
    max-width: 100%;
    order: 3;
}

@keyframes blurEffect {
    0% {
        filter: blur(0);
    }
    
    50% {
        filter: blur(10px);
    }
    
    100% {
        filter: blur(50px);
    }
}

.blurEffectMap {
    animation: blurEffect 5s ease;
}

td {
    border: 1px solid black;
}

.wayPossible {
    background-image: url("../img/sparkle-glitter.gif");
    box-shadow: 1px 5px 15px 5px #000000;
}

.charactersAndMap {
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .charactersAndMap {
        flex-direction: row;
    }
    
    table {
        order: unset;
        flex-basis: 35%;
    }
    
    .charactersAndMap {
        justify-content: space-evenly;
    }
}
