* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0 1rem;
}

img {
    width: 100%;
}

h1 {
  text-align: center;
}

.containerGame {
    display: flex;
    flex-direction: column;
}