* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0 1rem;
    background: linear-gradient(180deg, rgba(10,12,159,1) 33%, rgba(13,12,127,1) 66%, rgba(12,14,92,1) 100%);
    color: $color-primary;
}

body, button {
    font-family: 'ff7_font', 'Arial', 'sans-serif';
}

img {
    width: 100%;
}

h1 {
    margin: 1rem 0 0 ;
}

h1, h2, h3 {
    text-align: center;
    font-weight: 400;
}

.containerGame {
    display: flex;
    flex-direction: column;
}