@mixin ff7WindowStyle {
    border: 5px solid #9a9998;
    border-radius: 13px;
    background: linear-gradient(180deg, rgba(10,12,159,1) 33%, rgba(13,12,127,1) 66%, rgba(12,14,92,1) 100%);
    padding: 1rem;
    box-shadow: 8px 6px 12px #efe8e847;
}